<StackLayout>
    <TabView height="100%" width="100%" backgroundColor="#D8D8D8">
        <StackLayout *tabItem="{title: 'tab 1'}">          
            <Label text="Tab1"></Label>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Tab 2'}"  >
           <Label text="tab 2"></Label>          
        </StackLayout>
        <StackLayout *tabItem="{title: 'Tab 3'}">
            <SearchBar width="100%" hint="Search"></SearchBar>
            <Label text="Tab 3"></Label>       
        </StackLayout>
        <StackLayout *tabItem="{title: 'Tab 4'}">
           <Label text="Tab 4"></Label>
        </StackLayout>
    </TabView>
</StackLayout>